# Files # 
*ProgramB.cs
indesign-doc-dtd-and-xml/~tagged indesign bo~frk)bx.idlk
packages
dotnet-xml-import/.vs/XMLImport/v15/sqlite3/storage.ide
dotnet-xml-import/XMLImport/obj/Debug/XMLImport.csproj.CoreCompileInputs.cache
dotnet-xml-import/.vs/XMLImport/v15/.suo
dotnet-xml-import/XMLImport/bin/Debug/XMLImport.exe
dotnet-xml-import/XMLImport/bin/Debug/XMLImport.pdb
dotnet-xml-import/XMLImport/obj/Debug/DesignTimeResolveAssemblyReferences.cache
dotnet-xml-import/XMLImport/obj/Debug/XMLImport.exe
dotnet-xml-import/XMLImport/obj/Debug/XMLImport.pdb
